div(ng-controller='HelloController', ng-strict-di)
	div
		label(for='yourName') Your name is
		input(name='yourName', type='text', ng-model='yourName')
	div 
		| {{ yourName | sayhello }}

	a(ui-sref='nohello') Go to nohello state