h2 Sign up
form(name='signupForm', ng-controller='AuthController', ng-submit='signup(signupForm.$valid)', novalidate)
	div
		label(for='username') Username
		input(name='username', type='text', placeholder='username', ng-model='user.username', ng-maxlength='10', required)
	div
		label(for='firstname') Firstname
		input(name='firstname', type='text', placeholder='Firstname', ng-model='user.firstname', required)
	div
		label(for='lastname') Lastname
		input(name='lastname', type='text', placeholder='Lastname', ng-model='user.lastname', required)
	div
		label(for='email') Email
		input(name='email', type='email', placeholder='youremail@email.com', ng-model='user.email', required)
		p(ng-show='signupForm.email.$touched && signupForm.email.$error.required') Email is required.
		p(ng-show='signupForm.email.$touched && signupForm.email.$error.email') Email is in wrong format.
	div
		label(for='password') Password
		input(name='password', type='password', placeholder='password', ng-model='user.password', ng-minlength='6', required)
	div
		input(type='submit', value='Sign up')
		//- div(ng-show='error')
			//- strong(ng-bind='error')	
	div
		
		a(href='/oauth/facebook') Log in with Facebook
	div
		a(href='/oauth/google') Log in with Google